.Home form {
    border: 2px solid;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    color: black;
    text-align: left;
}

#form {
    border: 2px solid;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    color: black;
    text-align: left;
}